body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background: linear-gradient(to right, #ffffff 50%, #e0cfff);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: white;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #f0f0f0;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to right, #a74bf9, #ff85d6);
  color: white;
  font-weight: bold;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}

a {
  color: purple;
  text-decoration: none;
}

.success {
  color: green;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

.dashboard {
  font-size: 2rem;
  color: blue;
  font-weight: bold;
}
